.container {
  padding: 2rem;
  border: solid 2px;
  border-color: var(--si-green);
  border-radius: 50px;
}

#refresh {
  color: var(--si-white);
}

#refresh:hover {
  color: gray;
  cursor: pointer;
}

hr {
  border: 0;
  width: 100%;
  height: 5px;
  background-color: var(--si-white);
}

legend {
  font-size: 1.75rem;
  font-weight: bold;
}

.stockDetailDiv {
  border-style: solid none none none;
  border-width: 1px;
  border-color: var(--si-white);
  overflow: hidden;
}
