<div class="container mt-3">
  <h1>{{currencyFromSymbol}} - {{currencyToSymbol}}
    <a class="bi bi-arrow-clockwise ms-2" id="refresh" data-cy="refresh" (click)="refresh()"></a>
  </h1>
  <hr id="divider1">
  <fieldset id="chartContainer" class="row mt-3 border rounded-5 p-3">
    <legend class="float-none w-auto px-2">Chart</legend>
    <div id="chart" class="col">
      CHART TODO
    </div>
  </fieldset>
  <fieldset id="stockDetails" class="row mt-3 border rounded-5 p-3">
    <legend class="float-none w-auto px-2">Details</legend>
    <div class="col pe-md-4">
      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">FROM:</p>
        <p class="float-end my-1">{{currencyFromSymbol}}</p>
      </div>
      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">TO:</p>
        <p class="float-end my-1">{{currencyToSymbol}}</p>
      </div>
      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">EXCHANGE RATE:</p>
        <p class="float-end my-1">{{exchangeRate}}</p>
      </div>
      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">BID:</p>
        <p class="float-end my-1">{{bid}}</p>
      </div>
      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">ASK:</p>
        <p class="float-end my-1">{{ask}}</p>
      </div>
    </div>
  </fieldset>
  <div class="row mt-3 justify-content-center justify-content-md-start">
    <div class="col-8 my-2 col-md-2 d-flex justify-content-center justify-content-md-start">
      <button type="button" class="btn btn-outline rounded-pill w-75 fs-5 fw-bolder"
              id="buy" data-cy="buy" (click)="buy()">KUPI</button>
    </div>
    <div class="col-8 my-2 col-md-2 d-flex justify-content-center justify-content-md-start">
      <button type="button" class="btn btn-outline rounded-pill w-75 fs-5 fw-bolder"
              id="sell" data-cy="sell" (click)="sell()">PRODAJ</button>
    </div>
    <div class="col-0 col-md-6"></div>
    <div class="col-8 my-2 col-md-2 d-flex justify-content-center justify-content-md-end">
      <button type="button" class="btn btn-green rounded-pill w-75 justify-content-end"
              id="close" data-cy="close" (click)="close()">Nazad</button>
    </div>
  </div>
</div>
