<div [ngStyle]="{'display':displayStyle}" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">

      <div class="modal-header py-4 px-4">
        <h3 class="modal-title align-items-center justify-content-center"><b>Dodaj primaoca</b></h3>
        <button type="button" class="dugme" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()">x</button>
      </div>

        <form class="form-field-wrapper" (ngSubmit)="createReciever(name, accountNumber, referenceNumber, paymentNumber, paymentPurpose)" [formGroup]="createRecieverGroup">
          <div class="custom-form">

          <div class="modal-body py-3 px-4">
            <div class="col-md-9 align-items-md-start d-flex">
              <input class="form-control input" data-cy="name" id="name" name="name" placeholder="Ime primaoca" type="text"
                     [formControlName]="'name'" [(ngModel)]="name" required>
            </div>
          </div>

          <div class="modal-body py-3 px-4">
            <div class="col-md-9 align-items-md-start d-flex">
              <input class="form-control input" data-cy="accountNumberAccount" id="accountNumber" name="accountNumber" placeholder="Broj računa" type="text"
                     [formControlName]="'accountNumber'" [(ngModel)]="accountNumber" required>
            </div>
          </div>

            <div class="modal-body py-3 px-4">
              <div class="col-md-9 align-items-md-start d-flex">
                <input class="form-control input" data-cy="referenceNumber" id="referenceNumber" name="referenceNumber" placeholder="Poziv na broj" type="text"
                       [formControlName]="'referenceNumber'" [(ngModel)]="referenceNumber" required>
              </div>
            </div>


            <div class="modal-body py-3 px-4">
              <div class="col-md-9 align-items-md-start d-flex">
                <input class="form-control input" data-cy="paymentNumber" id="paymentNumber" name="paymentNumber" placeholder="Model" type="text"
                       [formControlName]="'paymentNumber'" [(ngModel)]="paymentNumber" required>
              </div>
            </div>


            <div class="modal-body py-3 px-4">
              <div class="col-md-9 align-items-md-start d-flex">
                <input class="form-control input" data-cy="paymentPurpose" id="paymentPurpose" name="paymentPurpose" placeholder="Svrha uplate" type="text"
                       [formControlName]="'paymentPurpose'" [(ngModel)]="paymentPurpose" required>
              </div>
            </div>

          <div class="validator">
              <span class=" col-md-9 align-items-md-start d-flex" *ngIf="createRecieverGroup.get('id')?.errors || createRecieverGroup.get('accountNumber')?.errors
                  || createRecieverGroup.get('name')?.errors">Sva polja su obavezna.</span>
          </div>
      </div>

          <div class="button-container d-flex align-items-center justify-content-center">
            <button class="btn btn-primary selection-width rounded-pill mt-4 px-5 mb-4  m-lg-2" data-cy="btnCreateReciever" type="submit" [disabled]="createRecieverGroup.invalid">Dodaj</button>
            <button class="btn btn-outline-primary selection-width rounded-pill mt-4 px-5 mb-4  m-lg-2" data-cy="btnAbort" type="submit" (click)="closePopup()">Odustani</button>
          </div>
        </form>

    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
  <app-popup></app-popup>
</div>
