.trtable{
  color: var(--si-green);
}


.csstable{
  color: white;
  table-layout: fixed;
}

th{
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-d{
  color: white;
  font-weight: 600;
  table-layout: fixed;
}

.rectangle{
  box-sizing: border-box;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  border: 1px solid #00B127;
  border-radius: 40px;
}


.users-table-row{
  margin-top: 20px;
}

.wider-button{
  width: 180px;
  text-align: center;
}

:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background: var(--si-green) !important;
  border: transparent;
  border-radius: 20px;
}

:host /deep/.ngx-pagination .current:hover {
  background: rgba(11, 148, 8, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}

:host /deep/.ngx-pagination a:hover{
  background: rgba(11, 148, 8, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}
