<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item">
        <a href="#">
          <img src="assets/home.svg" alt="icon" width="30" height="30">
        </a>
      </li>
      <li class="breadcrumb-item fw-bold" aria-current="page">Ugovori</li>
    </ol>
  </nav>


  <div class="row justify-content-center users-table-row">
    <div style="overflow: auto" class="rectangle">
      <div class="row col-md-auto me-3 d-flex justify-content-between">
        <div class="col-md-auto align-items-center d-flex justify-content-center">
          <h2 class="row fw-bold">Ugovori</h2>
        </div>
        <div class="col-md-auto align-items-center d-flex justify-content-center">
          <button type="button" id="contract" class="btn btn-outline rounded-pill  wider-button" data-cy="addContract" [routerLink]="['/contracts/create']">Dodaj</button>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-around">
        <table class="table table-borderless table-d ">
          <thead>
          <tr class="trtable">
            <th>Delovodni broj</th>
            <th>Status</th>
            <th>Kreiran</th>
            <th>Izmenjen</th>
            <th>Preuzmi</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <tr *ngFor="let contract of contracts" (click)="openUpdateContract(contract)" class="clickable-tr">
            <td>{{ contract.referenceNumber }}</td>
            <td>{{ contract.status }}</td>
            <td>{{ contract.createdDateTime | date: 'dd/MM/yy HH:mm' }}</td>
            <td>{{ contract.modifiedDateTime | date: 'dd/MM/yy HH:mm' }}</td>
            <td>
              <button *ngIf="contract.status == contractFinal" type="button" class="btn btn-outline rounded-pill" (click)="downloadContract(contract._id)">
                <i class="bi bi-download" id="download" data-cy="download"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ngx-loading [show]="loading"></ngx-loading>
  <app-popup></app-popup>

</div>
