<div class="container">
  <div class="d-flex flex-column vertical-center justify-content-center align-items-center ">

    <div class="col-sm-6 align-items-center justify-content-center " >
      <div class="row-sm-8 justify-content-start">
        <h2 class="fw-bold">Promena šifre</h2>
      </div>
      <br>

      <div id="formaBorder" style="border: 2px; border-style: solid; border-color: #00B127">

        <form [formGroup]="passwordEntryForm"
              (ngSubmit)="onPasswordEntrySubmit()">

          <div class="row justify-content-center">
            <div class="col-md-8 mb-5 align-items-center">
              <div class="form-group align-items-center">
                <input placeholder="nova šifra" type="password" class="form-control" id="password"
                       formControlName="password" required>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-8 mb-5 align-items-center">
              <div class="form-group align-items-center">
                <input placeholder="potvrdite šifru" type="password" class="form-control" id="confirmPassword"
                       formControlName="confirmPassword" required>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-8  mb-5  align-items-center">
              <div class="form-group">
                <input placeholder="verifikacioni kod" type="text" class="form-control" id="code" formControlName="code"
                       required>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6 text-center align-items-center">
              <div *ngIf="errorMessage != ''">
                <label style="color: red"> {{ errorMessage }} </label>
              </div>
            </div>
          </div>

          <br>
          <br>


          <div class="row justify-content-center">
            <div class="col-md-6  d-grid align-items-center">
              <button type="submit" class="btn btn-green btn-block rounded-pill">Promeni šifru</button>
            </div>
          </div>

        </form>

        <app-popup></app-popup>
      </div>

    </div>
  </div>
</div>

