:root {
  --si-green: #00B127;
  --si-white: #F1FFF9;
  --si-black: #151515;
  --si-black-transparent: rgba(21, 21, 21, 0.6);
  --si-red: #d70000;
}

#formaBorder {
  padding: 70px;
  border-style: solid;
  border: 2px;
  border-radius: 70px;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: var(--si-black);
  background-image: linear-gradient(0deg, #151515 65%, rgba(0, 177, 39, 0.35) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div, p, h1, h2, h3, h4, h5, h6 {
  color: var(--si-white);
}

input {
  border-radius: 10px;
  background: #e0e0e0;
}


.form-control:focus {
  border-color: var(--si-green);
  box-shadow: 0 0 0 3px rgba(11, 148, 8, 0.75);
}

nav {
  background-color: var(--si-black);
}

.btn-green {
  background-color: var(--si-green);
  color: #fff;
}

.btn-green:hover {
  color: #fff;
  background-color: #007e20;
}

