label {
  color: var(--si-green);
}

.form-select {
  width: 100px;
}

input {
  margin-top: 5px;
  color: var(--si-black);
  border-color: var(--si-white);
  width: 250px;
  height: 40px;
  border-radius: 8px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--si-black-transparent);
  font: inherit;
  color: currentColor;
}

input[type="checkbox"]:checked {
  appearance: none;
  background-color: var(--si-green);
  font: inherit;
  color: currentColor;
}

#allornone{
  padding: 4px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: var(--si-black);
  border: 1px solid var(--si-green);
  border-radius: 5px;
}

#allornoneLabel{
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: var(--si-white);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: smaller;
}

