<header>
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">

    <!-- *ngIf="isLoggedIn; else loggedOut" -->
    <div *ngIf="isLoggedIn; else loggedOut" class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/dollar-icon.svg" alt="icon" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="'/stock-market'" class="nav-link active fw-bold" aria-current="page">Berza</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/capital'" class="nav-link active fw-bold" aria-current="page">Kapital</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/orders'" class="nav-link active fw-bold" aria-current="page">Porudžbine</a>
          </li>
          <li *ngIf="isAdmin || isSupervisor" class="nav-item">
            <a [routerLink]="'/orders-admin'" class="nav-link active fw-bold" aria-current="page">Upravljanje porudžbinama</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/companies'" class="nav-link active fw-bold" aria-current="page">Kompanije</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/contracts'" class="nav-link active fw-bold" aria-current="page">Ugovori</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a [routerLink]="'/users'" data-cy="users" class="nav-link active fw-bold" aria-current="page">Korisnici</a>
          </li>
        </ul>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-light rounded-pill" (click)="logout()">Logout</button>
          <div class="profile-circle" (click)="goToMyProfile()" data-cy="my-profile"> {{ userLetter }} </div>
        </div>
      </div>
    </div>

    <ng-template #loggedOut>
      <div class="container justify-content-center">
        <a class="navbar-brand" href="/">
          <img src="assets/dollar-icon.svg" alt="icon" width="50" height="50">
        </a>
      </div>
    </ng-template>
  </nav>
</header>


<router-outlet></router-outlet>

