<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item">
        <a href="#">
          <img src="assets/home.svg" alt="icon" width="30" height="30">
        </a>
      </li>
      <li class="breadcrumb-item fw-bold" aria-current="page">Trgovina</li>
    </ol>
  </nav>

  <form class="row justify-content-start">

    <div class="row d-flex justify-content-start">
      <div class="col-md-auto d-grid align-items-center">

        <h2 class="fw-bold">Trgovina</h2>

      </div>
    </div>

    <div class="row d-flex justify-content-start pt-5">
      <div class="col-md-auto d-grid align-items-center">

        <label>Hartija od vrednosti</label>

        <select data-cy="selectAction" name="select-vrednost" class="form-select" [(ngModel)]="vrAction"
                (change)="onSelected()">
          <option data-cy="selectedAction1"  [value]="enumStocks.STOCKS">Akcija</option>
          <option data-cy="selectedAction2" [value]="enumStocks.FOREX">Forex</option>
          <option data-cy="selectedAction3" [value]="enumStocks.FUTURES">Terminski ugovor</option>
        </select>

      </div>
    </div>


    <div [ngSwitch]="vrAction">
      <app-trades *ngSwitchDefault></app-trades>
      <app-trades-forex *ngSwitchCase="enumStocks.FOREX"></app-trades-forex>
    </div>

  </form>


</div>
