select {
  margin-top: 5px;
  background-color: var(--si-white);
  color: var(--si-black);
  width: 200px;
  height: 40px;
  border-radius: 8px;
}

label {
  color: var(--si-green);
}

form {
  padding: 50px;
  padding-bottom: 2em;
  border: solid 2px;
  border-color: var(--si-green);
  border-radius: 70px;
}

