<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item">
        <a href="#">
          <img src="assets/home.svg" alt="icon" width="30" height="30">
        </a>
      </li>
      <li class="breadcrumb-item fw-bold" aria-current="page">Korisnici</li>
    </ol>
  </nav>

  <br>
  <br>

  <div class="row form-inline ">
    <form class="row justify-content-center">
      <div class="col-md-2 align-items-center">
        <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="col-md-2 align-items-center">
        <input type="text" [(ngModel)]="firstName" class="form-control" id="ime" name="firstName" placeholder="Ime">
      </div>
      <div class="col-md-2 align-items-center">
        <input type="text" [(ngModel)]="lastName" class="form-control" id="prezime" name="lastName" placeholder="Prezime">
      </div>
      <div class="col-md-2 align-items-center">
        <select [(ngModel)]="position" class="form-select" id="pozicija" name="position">
          <option [ngValue]="null">Pozicija</option>
          <option *ngFor="let position of allPositions" value="{{position}}">{{position}}</option>
        </select>
      </div>
      <div class="col-md-1 align-items-center">
        <button (click)="searchUsers()" type="button" class="btn btn-green btn-block rounded-pill" id="dugme">Pretraži</button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="row form-inline">
    <div class="row d-flex justify-content-between">
      <div class="col-md-auto align-items-center d-flex justify-content-center">
        <h2 class="row fw-bold">Spisak korisnika</h2>
      </div>
      <div class="col-md-auto align-items-center d-flex justify-content-center">
        <button type="button" id="addUser" class="btn btn-outline rounded-pill" [routerLink]="['/add-user']">Dodaj novog korisnika</button>
      </div>
    </div>

    <div class="row justify-content-center users-table-row">
      <div style="overflow: auto" class="rectangle">
        <table class="table table-borderless table-d " id="csstable">
          <thead>
          <tr id="trtable">
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Pozicija</th>
            <th>Aktivan</th>
            <th>Telefon</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <tr *ngFor="let user of this.users | paginate: { itemsPerPage: usersPerPage, currentPage: page, totalItems: totalUsers }">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.position }}</td>
            <td class="dot" [ngStyle]="{'background-color': user.active? 'green' : 'var(--si-red)'}"></td>
            <td>{{ user.phoneNumber}}</td>
            <td><button [routerLink]="['/update-user', user.id]" type="button" class="btn btn-outline-light rounded-pill" style="display: block; margin: auto; margin-top: -8px">Izmeni</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <pagination-controls (pageChange)="pageChangeEvent($event)" nextLabel="Sledeća" previousLabel="Prethodna"></pagination-controls>
      </div>
    </div>
  </div>

  <app-popup></app-popup>
</div>
