.form-control{
  margin-bottom: 5px;
}

select{
  margin-bottom: 5px;
}

#email, #ime, #prezime, #pozicija{
  font-weight: 500;
  font-size: 14px;
}

#dugme{
  font-weight: 500;
  font-size: 14px;
  width: 120px;
}

#trtable{
  color: var(--si-green);
}

#csstable{
  color: white;
}

.table-d{
  color: white;
  font-weight: 600;

}

.rectangle{
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  border: 1px solid #00B127;
  border-radius: 60px;
}

.dot {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left:25px;
  width: 11px;
  height: 11px;
  /*background-color: var(--si-red);*/
  border-radius: 50%;
}

.users-table-row{
  margin-top: 20px;
}

pagination-controls{
  margin-top: 20px;
}

:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background: var(--si-green) !important;
  border: transparent;
  border-radius: 20px;
}

:host /deep/.ngx-pagination .current:hover {
  background: rgba(11, 148, 8, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}

:host /deep/.ngx-pagination a:hover{
  background: rgba(11, 148, 8, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}
