<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item">
        <a href="#">
          <img src="assets/home.svg" alt="icon" width="30" height="30">
        </a>
      </li>
      <li class="breadcrumb-item fw-bold"><a class="green-link" href="/companies">Kompanije</a></li>
      <li class="breadcrumb-item fw-bold" aria-current="page">Detalji</li>
    </ol>
  </nav>

  <!-- NASTAVI OVDE -->

  <form [formGroup]="compDetailsFormGroup"
        (ngSubmit)="onButtonAzuriraj()" class="row justify-content-center">

    <div class="row justify-content-start">
      <h2 class="mb-3 fw-bold">Podaci</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-3">
        <label for="naziv" class="form-label">Naziv</label>
        <input type="text" class="form-control"
               formControlName="naziv" required data-cy="naziv" id="naziv" name="naziv"
               placeholder="naziv">
      </div>
      <div class="col mb-3">
        <label for="sifDelatnosti" class="form-label">Šifra delatnosti</label>
        <input type="text" class="form-control"
               formControlName="sifDelatnosti" required data-cy="sifDelatnosti" id="sifDelatnosti"
               name="sifDelatnosti"
               placeholder="šifra delatnosti">
      </div>
      <div class="col mb-3">
        <label for="maticniBr" class="form-label">Matični broj</label>
        <input type="text" class="form-control"
               formControlName="maticniBr" readonly required data-cy="maticniBr" id="maticniBr"
               name="maticniBr"
               placeholder="matični broj" [disabled]="true">
      </div>
      <div class="col mb-3">
        <label for="pib" class="form-label">PIB</label>
        <input type="text" class="form-control" [disabled]="true"
               formControlName="pib" required readonly data-cy="pib" id="pib" name="pib" placeholder="pib">
      </div>
      <div class="col mb-3">
        <label for="adresa" class="form-label">Adresa</label>
        <input type="text" class="form-control"
               formControlName="adresa" required data-cy="adresa" id="adresa" name="adresa"
               placeholder="adresa">
      </div>

    </div>

    <div class="row mt-3 align-items-end d-flex justify-content-end ">
      <div class="col mb-3 align-items-end d-grid justify-content-end">

        <div class="row d-flex justify-content-start mt-2 mb-2">
          <div *ngIf="errorMessage != ''">
            <label style="color: red"> {{ errorMessage }} </label>
          </div>
        </div>

        <div class="row mt-3 align-items-end d-flex justify-content-end mr-3">
          <button type="button" id="obrisi" class="btn btn-outline-danger btn-block rounded-pill" data-cy="obrisi"
                  (click)="deleteCompany()">Obriši
          </button>

          <button type="submit" id="azuriraj" class="btn btn-outline rounded-pill" data-cy="azuriraj">Ažuriraj</button>
        </div>
      </div>
    </div>

  </form>

  <div class="row justify-content-center mt-3" id="brdr">

    <div class="row mb-3 p-3 pt-0 d-flex justify-content-between align-items-center">
      <div class="col-md-6 align-items-center d-flex justify-content-start">
        <h2 class="fw-bold">Računi</h2>
      </div>
      <div class="col-md-6 p align-items-end d-flex justify-content-end">
        <button type="button" id="dodajRacun" class="btn btn-outline rounded-pill" data-cy="dodajRacun"
                (click)="openCreateAccountPopup()">Dodaj
        </button>
      </div>
    </div>

    <div class="row d-flex justify-content-center p-4 ">
      <table class="table table-borderless table-d ">
        <thead>
        <tr class="trtable">
          <th>Banka</th>
          <th>Broj računa</th>
          <th>Aktivan</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr *ngFor="let racun of this.racuni">
          <td>{{ racun.accountNumber }}</td>
          <td>{{ racun.bankName }}</td>
          <td>{{ racun.type }}</td>
          <td>
            <button type="button" class="update-btn col-6 col-md-3 btn btn-outline-danger btn-block rounded-pill" (click)="deleteAccount(racun._id)">
              Obriši
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--
  <div class="row justify-content-center mt-3" id="brdr2">
    <div class="row mb-3 p-3 pt-0 d-flex justify-content-between align-items-center">
      <div class="col-md-auto align-items-center d-flex justify-content-start">
        <h2 class="fw-bold">Ugovori</h2>
      </div>
      <div class="col-md-auto p align-items-end d-flex justify-content-end">
        <button type="button" id="btnDodajUgovor" class="btn btn-outline rounded-pill" data-cy="btnDodajUgovor"
                [routerLink]="['/contracts/create']">Dodaj
        </button>
      </div>
    </div>

    <div class="row d-flex justify-content-center p-4">
      <table class="table table-borderless table-d ">
        <thead>
        <tr class="trtable">
          <th>Delovodni broj</th>
          <th>Status</th>
          <th>Kreiran</th>
          <th>Izmenjen</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr *ngFor="let ugovor of this.contracts">
          <td>{{ ugovor.referenceNumber }}</td>
          <td>{{ ugovor.status }}</td>
          <td>{{ ugovor.createdDateTime }}</td>
          <td>{{ ugovor.modifiedDateTime }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  -->

  <div class="row justify-content-center mt-3 mb-3" id="brdr3">

    <div class="row mb-3 p-3 pt-0 d-flex justify-content-between align-items-center">
      <div class="col-md-auto align-items-center d-flex justify-content-start">
        <h2 class="fw-bold">Kontakt osobe</h2>
      </div>
      <div class="col-md-auto p align-items-end d-flex justify-content-end">
        <button type="button" id="dodajKontakt" class="btn btn-outline rounded-pill" data-cy="dodajKontakt"
                (click)="openCreateContactPopup()">Dodaj
        </button>
      </div>
    </div>
    <br>
    <br>
    <!--
    <div class="col-md-2 align-items-center">
      <input type="text" class="form-control" id="searchContact" name="searchContact" [ngModel]="contactId" placeholder="Id kontakta">
    </div>
    <div class="col-md-1 align-items-center">
      <button (click)="contactId ? listContactsById() : requiredFieldError()" type="button" class="btn btn-green btn-block rounded-pill" id="dugme">
        Pretraži
      </button>
    </div>
    -->
    <div class="row d-flex justify-content-center p-4">
      <table class="table table-borderless table-d ">
        <thead>
        <tr class="trtable">
          <th>Ime i prezime</th>
          <th>Br. telefona</th>
          <th>Email</th>
          <th>Pozicija</th>
          <th>Napomena</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr *ngFor="let kontakt of this.kontakti" (click)="openContactDetails(kontakt)" class="clickable-tr">
          <td>{{ kontakt.fullName}}</td>
          <td>{{ kontakt.phoneNumber }}</td>
          <td>{{ kontakt.email }}</td>
          <td>{{ kontakt.position }}</td>
          <td>{{ kontakt.note }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <app-popup></app-popup>
  <app-create-contact-popup></app-create-contact-popup>
  <app-contact-details></app-contact-details>
  <app-account-details-popup></app-account-details-popup>
  <app-create-account-popup></app-create-account-popup>

  <ngx-loading [show]="loading"></ngx-loading>
</div>
