<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-md-7 align-items-center">
      <ng-lottie [options]="options" width="800px"></ng-lottie>
    </div>

    <div class="col-md-5 align-self-center text-center align-items-center">
      <h1 class="fw-bold">BANKA-1</h1>
      <p>Dobrodošli na bankarski sistem tima Banka-1.</p>
      <br>
      <button type="button" class="btn-stock btn btn-outline-primary rounded-pill" (click)="continueFromHomePage()">Nastavi...</button>
    </div>
  </div>

  <!--
  <div class="row justify-content-center">
    <div class="col-md-auto align-self-center text-center align-items-center">
      <button type="button" class="btn btn-primary rounded-pill">Primer obicno</button>
      <button type="button" class="btn btn-outline-primary rounded-pill">Primer outline</button>
      <button type="button" class="btn btn-danger rounded-pill">Primer crveno</button>
      <button type="button" class="btn btn-outline-danger rounded-pill">Primer crveno outline</button>
    </div>
  </div>
  <br>
  -->

  <app-popup></app-popup>
</div>
