<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item">
        <a href="#">
          <img src="assets/home.svg" alt="icon" width="30" height="30">
        </a>
      </li>
      <li class="breadcrumb-item fw-bold"><a class="green-link" href="/stock-market">Berza</a></li>
      <li class="breadcrumb-item fw-bold" aria-current="page">Opcije</li>
    </ol>
  </nav>

  <div class="row justify-content-start">
    <div class="col-md-2 align-items-center">
      <label class="text" for="validDate">Datum isteka</label>
      <input id="validDate" class="form-control" type="date"
             [ngModel] ="expirationDate | date:'yyyy-MM-dd'"
             (ngModelChange)="expirationDate = $event; getOptions()" />
    </div>
    <div class="col-md-auto d-flex align-items-end">
      <div class="btn-group" role="group" aria-label="Toggle buttons">
        <div class="col-md-auto">
          <input checked (click)="setOptionCalls()" data-cy="call-set" type="radio" class="btn-check" name="options" id="option1">
          <label class="btn btn-outline-toggle rounded-pill text-color toggle1-toggle2-size" for="option1">Calls</label>
        </div>
        <div class="col-md-auto">
          <input (click)="setOptionPuts()" data-cy="put-set" type="radio" class="btn-check" name="options" id="option2">
          <label class="btn btn-outline-toggle rounded-pill text-color toggle1-toggle2-size" for="option2">Puts</label>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div *ngIf="options.length > 0; else noData"  class="row justify-content-center rectangle">
    <div class="row">
      <div class="table-responsive col-md-auto">
        <h2>{{ optionHeader }}</h2>
        <table class="table table-borderless table-d">
          <thead>
          <tr class="trtable">
            <th>Price</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>OI</th>
            <th class="fw-bold">Strike</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let option of options" class="clickable-tr" (click)="openTradeOption(option)">
            <td [countUp]="option.price" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</td>
            <td [countUp]="option.bid" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</td>
            <td [countUp]="option.ask" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</td>
            <td [countUp]="option.openInterest" [options]="{ enableScrollSpy: true, decimalPlaces: 0}">0</td>
            <td class="fw-bold" [countUp]="option.strike" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <ng-template #noData>
    <br>
    Nema traženih podataka.
  </ng-template>

  <br>
  <div class="row justify-content-end">
    <div class="col-md-auto align-items-center">
      <button type="button" class="btn btn-outline rounded-pill" (click)="backClick()">Nazad</button>
    </div>
  </div>

  <app-popup></app-popup>
  <app-option-trade-popup></app-option-trade-popup>

</div>
