.contract-form {
  padding: 2rem;
  border: solid 2px;
  border-color: var(--si-green);
  border-radius: 50px;
}

label, h5 {
  color: var(--si-green);
}

h5.error {
  color: var(--si-red);
}

.description {
  margin-top: 10px;
}

.transactions {
  margin: 10px;
}

#transaction-button{
  max-height: fit-content;
}

.transaction-container {
  margin: 20px;
  padding: 20px;
  width: fit-content;
  border: solid 2px;
  border-color: var(--si-green);
  border-radius: 25px;
}
