form {
  padding: 2rem;
  border: solid 2px;
  border-color: var(--si-blue);
  border-radius: 50px;
}

label {
  color: var(--si-blue);
}

.trtable{
  color: var(--si-blue);
}
.csstable{
  color: white;
  table-layout: fixed;
}

th{
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tr {
  vertical-align: middle;
}

.table-d{
  color: var(--si-navy);
  font-weight: 600;
  table-layout: fixed;
}

#brdr, #brdr2, #brdr3{
  padding: 2rem;
  border: solid 2px;
  border-color: var(--si-blue);
  border-radius: 50px;
}

.btn{
  width: 150px;
}

#obrisi {
  margin-right: 10px;
}

