<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex flex-column vertical-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 width text-center">
          <h2 class="fw-bold">Zahtev za promenu šifre</h2>
          <br>
          <h5>Unesite Vašu mejl adresu i poslaćemo Vam instrukcije za promenu šifre.</h5>
          <br>
          <div class="card login-card">
            <div class="">
              <form class="mb-3 mt-md-4">
                <div class="mb-3">
                  <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-field centralize-input" id="useremail" placeholder="Email"
                         #useremail="ngModel"
                         required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                </div>
                <div class="md-errors-spacer">
                  <div  *ngIf="useremail.errors && useremail.errors['pattern']" class="email-validator">
                    Mejl adresa nije validna.
                  </div>
                </div>
                <div class="d-grid">
                  <button (click)="sendPassResetReq()" class="btn btn-green btn-block rounded-pill button-width centralize-button" style="margin-top: 10px" type="submit">Završi</button>
                </div>
                <div class="d-grid">
                  <button (click)="redirect()" class="btn btn-outline rounded-pill button-width centralize-button" type="submit">Odustani</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-popup></app-popup>
</div>
