<div class="container">
  <br>
    <!-- NORMAL BUTTONS -->
    <!--
    <div class="row justify-content-center">

      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-green rounded-pill">Dugme</button>
      </div>

      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill">Dugme outline</button>
      </div>

      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline-light rounded-pill">Dugme belo</button>
      </div>
    </div>
    <br>
    -->

    <!-- EXTENDED BUTTONS -->
    <!--
    <div class="row justify-content-center">

      <div class="col-md-3 d-grid align-items-center">
        <button type="button" class="btn btn-green btn-block rounded-pill">Dugme 2</button>
      </div>

      <div class="col-md-3 d-grid align-items-center">
        <button type="button" class="btn btn-outline btn-block rounded-pill">Dugme 2 Outline</button>
      </div>

      <div class="col-md-3 d-grid align-items-center">
        <button type="button" class="btn btn-outline-light btn-block rounded-pill">Dugme 2 belo</button>
      </div>
    </div>

    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill" (click)="openPopupExample()">Otvori popup</button>
      </div>
    </div>
  <br><br>
  -->

    <!-- TOGGLE BUTTONS -->
    <!--
    <div class="row justify-content-center">
      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill" data-bs-toggle="button">Toggle 1</button>
      </div>
      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill" data-bs-toggle="button">Toggle 2</button>
      </div>
      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill" data-bs-toggle="button">Toggle 3</button>
      </div>
    </div>
  <br><br>
  -->

  <!-- TOGGLE BUTTONS 2 -->
  <!--
  <div class="row justify-content-center">
    <div class="btn-group" role="group" aria-label="Toggle buttons">
      <div class="col-md-1">
        <input type="radio" class="btn-check" name="options" id="option1">
        <label class="btn btn-outline-toggle rounded-pill" for="option1">Toggle 1</label>
      </div>

      <div class="col-md-1">
        <input type="radio" class="btn-check" name="options" id="option2">
        <label class="btn btn-outline-toggle rounded-pill" for="option2">Toggle 2</label>
      </div>

      <div class="col-md-1">
        <input type="radio" class="btn-check" name="options" id="option3">
        <label class="btn btn-outline-toggle rounded-pill" for="option3">Toggle 3</label>
      </div>
    </div>
  </div>
  -->

  <div class="row justify-content-center">
    <div class="col-md-7 align-items-center">
      <ng-lottie [options]="options" width="700px"></ng-lottie>
    </div>

    <div class="col-md-5 align-self-center text-center align-items-center">
      <h1 class="fw-bold">BANKA-1</h1>
      <p>Dobrodošli na aplikaciju Banke-1! Naša platforma pruža mogućnosti da pratite analize i
        informacije vezane za tržišta akcija i forex-a.</p>
      <br>
      <button type="button" class="btn-stock btn btn-outline rounded-pill" (click)="goToStockMarket()">Idi na berzu...</button>
    </div>
  </div>

  <app-popup></app-popup>
</div>
