<div class="container">
  <br>
  <h2 class="fw-bold">Početna</h2>

  <div *ngIf="showHelp else home;">
    <!-- NORMAL BUTTONS -->
    <div class="row justify-content-center">

      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-green rounded-pill">Dugme</button>
      </div>

      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill">Dugme outline</button>
      </div>

      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline-light rounded-pill">Dugme belo</button>
      </div>

    </div>

    <br>

    <!-- EXTENDED BUTTONS -->
    <div class="row justify-content-center">

      <div class="col-md-3 d-grid align-items-center">
        <button type="button" class="btn btn-green btn-block rounded-pill">Dugme 2</button>
      </div>

      <div class="col-md-3 d-grid align-items-center">
        <button type="button" class="btn btn-outline btn-block rounded-pill">Dugme 2 Outline</button>
      </div>

      <div class="col-md-3 d-grid align-items-center">
        <button type="button" class="btn btn-outline-light btn-block rounded-pill">Dugme 2 belo</button>
      </div>

    </div>

    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-3 align-items-center">
        <button type="button" class="btn btn-outline rounded-pill" (click)="openPopupExample()">Otvori popup</button>
      </div>
    </div>
  </div>


  <ng-template #home>
    <br><br><br>
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="assets/dollar-icon.svg" alt="icon" width="200" height="200">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <h1 class="fw-bold">RAF BANKA 1</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <h4>Aplikacija u izradi...</h4>
      </div>
    </div>
  </ng-template>

  <app-popup></app-popup>
</div>
