.modal{
  background: var(--si-black-transparent);
}

.modal-content{
  margin-top: 30%;
  border-radius: 25px;
  background-color: var(--si-white);
  border-color: #007e20;
}

.btn{
  margin: 10px;
}

h5.error {
  color: var(--si-red);
}
