.profile-circle{
  background: var(--si-blue);
  color: var(--si-white);

  height: 40px;
  width: 40px;
  border-radius: 50%;

  margin-left: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  font-size: 30px;
}

.profile-circle:hover{
  cursor: pointer;
}

.nav-link {
color: #0275d8 !important;
}

.nav-link:hover{
  color: #a7cffc !important;
}
