<header>
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">

    <!-- *ngIf="isLoggedIn; else loggedOut" -->
    <div *ngIf="isLoggedIn; else loggedOut" class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/dollar-icon.svg" alt="icon" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li *ngIf="isEmployee" class="nav-item">
            <a [routerLink]="'/natural-persons'" class="nav-link active fw-bold" aria-current="page">Fizička lica</a>
          </li>
          <li *ngIf="isEmployee" class="nav-item">
            <a [routerLink]="'/legal-persons'" class="nav-link active fw-bold" aria-current="page">Pravna lica</a>
          </li>
          <li *ngIf="isEmployee" class="nav-item">
            <a [routerLink]="'/create-new-account'" data-cy="create-new-account" class="nav-link active fw-bold" aria-current="page">Kreiraj račun</a>
          </li>

          <li *ngIf="isClient" class="nav-item">
            <a [routerLink]="'/home-page'" data-cy="homepage-link" class="nav-link active fw-bold" aria-current="page">Početna</a>
          </li>
          <li *ngIf="isClient" class="nav-item">
            <a [routerLink]="'/accounts'" data-cy="accounts-link" class="nav-link active fw-bold" aria-current="page">Računi</a>
          </li>
          <li *ngIf="isClient" class="nav-item">
            <a data-cy="orders" class="nav-link active fw-bold" aria-current="page" [matMenuTriggerFor]="menu">Plaćanja</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="menu-item" data-cy="orders-new-link" (click)="newPaymentRedirect()" >Novo plaćanje</button>
              <button mat-menu-item class="menu-item" data-cy="transfers-link" (click)="transferRedirect()" >Prenos</button>
              <button mat-menu-item class="menu-item" (click)="paymentrecieversRedirect()" >Primaoci plaćanja</button>
              <button mat-menu-item class="menu-item" (click)="paymentRecapRedirect()" >Pregled plaćanja</button>
            </mat-menu>
          </li>
          <li *ngIf="isClient" class="nav-item">
            <a [routerLink]="'/exchange'" class="nav-link active fw-bold" aria-current="page">Menjačnica</a>
          </li>
          <!--
          <li *ngIf="isClient" class="nav-item">
            <a [routerLink]="'/'" class="nav-link active fw-bold" aria-current="page">Kartice</a>
          </li>
          <li *ngIf="isClient" class="nav-item">
            <a [routerLink]="'/'" class="nav-link active fw-bold" aria-current="page">Krediti</a>
          </li>
          -->
        </ul>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary rounded-pill" (click)="logout()" data-cy="logout">Logout</button>
          <div class="profile-circle" (click)="goToMyProfile()" data-cy="my-profile"> {{ userLetter }} </div>
        </div>
      </div>
    </div>

    <ng-template #loggedOut>
      <div class="container justify-content-center">
        <a class="navbar-brand" href="/">
          <img src="assets/dollar-icon.svg" alt="icon" width="50" height="50">
        </a>
      </div>
    </ng-template>
  </nav>
</header>


<router-outlet></router-outlet>

