.custom-form {
  border: 1px solid var(--si-navy);
  border-radius: 30px;
  position: relative;
  padding: 35px;
}

.custom-form::after {
  content: "Informacije";
  color: var(--si-navy);
  font-weight: bold;
  position: absolute;
  left: 2%;
  top: -.5em;
  background: #fff;
  padding: 0.5em;
  margin-top: -20px;
  font-size: 25px;
}

.form-field-wrapper{
  padding: 20px;
}

.selection-width {
  width: 220px;
}

.dugme{
  border-radius: 50%;
  border: 1px solid var(--si-navy);
  background: transparent;
  color: var(--si-navy);
  padding: 8px;
  height: 30px;
  width: 30px;
  line-height: 8px;
}

.input{
  width: 250px;
  alignment: left;
  margin-left: -22px;
}

:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background: var(--si-blue) !important;
  border: transparent;
  border-radius: 20px;
}

:host /deep/.ngx-pagination .current:hover {
  background: rgba(8, 85, 148, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}

:host /deep/.ngx-pagination a:hover{
  background: rgba(8, 106, 148, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}

.modal-title{
  margin: 0 auto;
}

.modal-header {
  border-bottom: 1px solid var(--si-navy);
  margin-bottom: 40px;
}

.modal-body {
  padding-bottom: 5px !important;
}

.modal-body input {
  border: 1px solid var(--si-blue);
  width: 300px;
}
.validator {
  padding-top: 25px;
  padding-left: 30px;
}

.modal-content {
  border-radius: 60px;
  border: 1px solid var(--si-blue);
}

.button-container{
  flex-direction: column;
  padding: 25px;
}

.modal-header h3 {
  color: var(--si-navy) !important;
}

.line {
  display: block;
  border-bottom: 1px solid var(--si-blue);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.line-left {
  margin-left: 24px;
  margin-left: -3px !important;
}

.amount-container{
  display: flex;
  justify-content: space-between;
}

.left-col{
  order: 1;
  color: var(--si-navy);
}

.right-col{
  order: 2;
  margin-right: 20px;
  color: var(--si-blue);

}

.custom-form-receiver-acc{
  border: 1px solid var(--si-navy);
  border-radius: 30px;
  position: relative;
  padding: 30px;
}

.custom-form-receiver-acc::after{
  content: "Verifikacija";
  color: var(--si-navy);
  font-weight: bold;
  position: absolute;
  left: 2%;
  top: -.5em;
  background: white;
  padding: 0.5em;
  margin-top: -20px;
  font-size: 25px;
  padding-bottom: 20px;

}

.validator-style{
  alignment: left;
  margin-left: -22px;
}
