.modal {
  background: var(--si-black-transparent);
}

.modal-content {
  margin-top: 30%;
  border-radius: 25px;
  background-color: var(--si-black);
  box-shadow: 0 0 7px rgba(0, 177, 38, 0.3);
  -webkit-box-shadow: 0 0 7px rgba(0, 177, 38, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 177, 38, 0.3);
}

.myp-text {
  color: var(--si-green);
}

.btn btn-outline btn-block rounded-pill {

  padding: 6px 48px;
}

.px-5 {
  margin-right: 5rem;

}

.justify-content-end {
  margin-bottom: 3rem;
  margin-right: 2rem;
}
