<div class="container">
  <div class="d-flex justify-content-center align-items-center">

      <div class="row d-flex flex-column vertical-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 width verticalx-center text-center">
          <h2 class="fw-bold">Login</h2>
          <br>
          <div class="card login-card">
            <div class="">
              <form  (submit)="handleLoggingIn()" class="button-bottom-margin mt-md-4">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
                <div class="mb-3">
                  <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-field centralize-input" id="useremail" placeholder="Email"
                         #useremail="ngModel"
                         required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                </div>
                <div class="mb-3 password-holder" style="margin-bottom: 10px !important;">
                  <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                         [attr.type]="showPassword ? 'text' : 'password'"
                         type="password" class="form-control input-field  password-input" id="userpassword" placeholder="Šifra">
                  <i
                    (click)="toggleShowPassword($event)"
                    *ngIf="!showPassword" class="fa fa-eye"
                    id="togglePassword" ></i>
                  <i
                    (click)="toggleShowPassword($event)"
                    *ngIf="showPassword"
                    class="fa fa-eye-slash" id="togglePassword2" ></i>
                </div>
                <div class="md-errors-spacer">
                  <div class="email-validator">
                    <span *ngIf="useremail.errors && useremail.errors['pattern']">Mejl adresa nije validna.</span>
                  </div>
                </div>
                <div class="d-grid">
                  <button class="btn btn-green btn-block rounded-pill login-button centralize-button" type="submit">Uloguj se</button>
                </div>
              </form>
              <div>
                <a routerLink="/reset-password-request" class="a"><p class="mb-0  text-center password-reset">Zaboravljena lozinka?</p></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <app-capital-margin></app-capital-margin>
  <app-popup></app-popup>
</div>
