.modal{
  background: var(--si-black-transparent);
}

.modal-content{
  border-radius: 25px;
  background-color: var(--si-white);
  border: 1px solid var(--si-blue);
}

.myp-text {
  color: var(--si-blue);
}



select{
  border: 1px solid #ccc;
  border-radius: 0px !important;
  padding-left: 5px;
  padding: 20px 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color:black;
  background-image: none;
  border: 1px solid #ffffff;
}


.dugme{
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  background: transparent;
  color:#f5f5f5 ;
  padding: 8px;
  height: 30px;
  width: 30px;
  line-height: 8px;
}




