.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: var(--si-black-transparent);
}

.modal-content{
  margin: 0 auto;
  margin-top: 10%;
  width: 80%;
  border-radius: 20px;
  background-color: var(--si-white);
  box-shadow: 0 0 7px rgba(0, 177, 38, 0.3);
  -webkit-box-shadow: 0 0 7px rgba(0, 177, 38, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 177, 38, 0.3);
  padding: 80px;
  display: flex;
  flex-direction: column;
}

.modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.modal-content header button {
  border: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content div {
  flex: 1;
}

.comment{
  font-size: 14px;
  opacity: 0.5;
}

.range-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

input[type=range]:hover {
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #4CAF50;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-top: -5px;
}

.min-label, .max-label {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
