.modal{
  background: var(--si-black-transparent);
}

.modal-content{
  margin-top: 30%;
  border-radius: 25px;
  background-color: var(--si-black);
  box-shadow: 0 0 7px rgba(0, 177, 38, 0.3)  ;
  -webkit-box-shadow: 0 0 7px rgba(0, 177, 38, 0.3)  ;
  -moz-box-shadow: 0 0 7px rgba(0, 177, 38, 0.3)  ;
}

.myp-text {
  color: var(--si-green);
}

.btn btn-outline btn-block rounded-pill{

  padding: 6px 48px;
}

.py-3 {
  margin-left: 8rem;

}

.dugme{
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  background: transparent;
  color:#f5f5f5 ;
  padding: 8px;
  height: 30px;
  width: 30px;
  line-height: 8px;
}
