<div [ngStyle]="{'display':displayStyle}" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">

      <div class="modal-header py-4 px-4">
        <h3 class="modal-title"><b>Kreiraj kontakt</b></h3>
        <button type="button" class="dugme" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()">x</button>
      </div>

      <form (ngSubmit)="createContact(companyId, fullName, phoneNumber, email, position, note)" [formGroup]="createContactGroup">
      <div class="modal-body py-3 px-4">
        <div class="myp-text mb-3">Kompanija</div>
        <div class="col-md-9 align-items-center d-flex justify-content-center">
          <input class="form-control" data-cy="companyId" id="companyId" name="companyId" placeholder="" type="text"
                 [formControlName]="'companyId'" required>
        </div>
      </div>

      <div class="modal-body py-3 px-4">
        <div class="myp-text mb-3">Ime i prezime</div>
        <div class="col-md-9 align-items-center d-flex justify-content-center">
          <input class="form-control" data-cy="fullName" id="fullName" name="fullName" placeholder="" type="text"
                 [formControlName]="'fullName'" required>
        </div>
      </div>

      <div class="modal-body py-3 px-4">
        <div class="myp-text mb-3">Broj telefona</div>
        <div class="col-md-9 align-items-center d-flex justify-content-center">
          <input class="form-control" data-cy="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="" type="text"
                 [formControlName]="'phoneNumber'" required>
        </div>
      </div>

      <div class="modal-body py-3 px-4">
        <div class="myp-text mb-3">E-mail adresa</div>
        <div class="col-md-9 align-items-center d-flex justify-content-center">
          <input class="form-control" data-cy="email" id="email" name="email" placeholder="" type="text"
                 [formControlName]="'email'" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
        </div>
      </div>

      <div class="modal-body py-3 px-4">
        <div class="myp-text mb-3">Pozicija u kompaniji</div>
        <div class="col-md-9 align-items-center d-flex justify-content-center">
          <input class="form-control" data-cy="position" id="position" name="position" placeholder="" type="text"
                 [formControlName]="'position'" required>
        </div>
      </div>

      <div class="modal-body py-3 px-4">
        <div class="myp-text mb-3">Napomena</div>
        <div class="col-md-9 align-items-center  justify-content-center">
          <input class="form-control" data-cy="note" id="note" name="note" placeholder="" type="text"
                 [formControlName]="'note'" required>
        </div>
      </div>

        <div class="validator">
              <span *ngIf="createContactGroup.get('companyId')?.errors || createContactGroup.get('fullName')?.errors
                    || createContactGroup.get('phoneNumber')?.errors || createContactGroup.get('email')?.errors
                    || createContactGroup.get('position')?.errors || createContactGroup.get('note')?.errors">
                Sva polja su obavezna.</span>

          <div class="validator">
             <span *ngIf="createContactGroup.get('email')?.touched && createContactGroup.get('email')?.hasError('pattern')">
               E-mail adresa nije validna.</span>
          </div>
        </div>

      </form>

      <div class=" d-flex align-items-center justify-content-center">
        <button class="btn btn-green rounded-pill mt-4 px-5 mb-4  m-lg-2" type="submit"
                [disabled]="createContactGroup.invalid || createContactGroup.get('email')?.invalid">Kreiraj</button>
      </div>

    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
