:root{
  --si-green: #00B127;
  --si-white: #F1FFF9;
  --si-black: #151515;
  --si-black-transparent: rgba(21, 21, 21, 0.6);
  --si-red: #d70000;
}

.form-group{

  margin-bottom: 22px;

}

.dugme{
  background-color: var(--si-green);
  color: #fff;
}

.dugme:hover{
  float: right;
  text-align: right;
  color: #fff;
  background-color: #007e20;
}
