<section class="gradient-custom">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-10">
        <h2 class="fw-bold mb-2 " style="color: #F1FFF9">Moj profil</h2>

        <div class="card bg-black text-white" style="border-radius: 2rem; border-color: #00B127;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">


              <div class="form-group row ">
                <h2 class="fw-bold mb-2  col-sm-5 text-start" style="color: #F1FFF9">Osnovne informacije</h2>
              </div>

              <div class="form-group row ">
                <label for="inputName" class="col-md-8 col-4 col-form-label text-start"
                       style="color:  #007e20">Ime</label>
                <div class="col-md-4 col-8">
                  <input type="name" class="form-control" id="inputName" placeholder="Ime" [(ngModel)]="firstName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputSurname" class="col-md-8  col-4 col-form-label  text-start" style="color:  #007e20">Prezime</label>
                <div class="col-md-4 col-8">
                  <input type="surname" class="form-control" id="inputSurname" placeholder="Prezime"
                         [(ngModel)]="lastName">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputPhone" class="col-md-8 col-4 col-form-label text-start"
                       style="color:  #007e20">Telefon</label>
                <div class="col-md-4 col-8">
                  <input type="phone" class="form-control" id="inputPhone" placeholder="+38165445732"
                         [(ngModel)]="phone">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputJmbg" class="col-md-8 col-4 col-form-label  text-start"
                       style="color:  #007e20">JMBG</label>
                <div class="col-md-4 col-8">
                  <input type="email" class="form-control" id="inputJmbg" placeholder="215552348" [(ngModel)]="jmbg"
                         disabled="disabled">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-md-8 col-4 col-form-label text-start"
                       style="color:  #007e20">Email</label>
                <div class="col-md-4 col-8">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="email"
                         disabled="disabled">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPosition" class="col-md-8 col-4 col-form-label text-start" style="color:  #007e20">Position</label>
                <div class="col-md-4 col-8">
                  <input type="email" class="form-control" id="inputPosition" placeholder="Pozicija"
                         [(ngModel)]="position" disabled="disabled">
                  <select [(ngModel)]="position" class="form-select" id="position" name="position">
                    <option *ngFor="let position of allPositions" value="{{position}}">{{position}}</option>
                  </select>

                </div>
              </div>

              <div class="row">
                <div class=" col-form-label text-start col-md-8 col-4" style="color: darkgreen">Sifra</div>
                <p class="large mb-12 pb-lg-6 text-start col-md-4 col-8"><i><strong>
                  <a class="" size="20" [routerLink]="['/']" style="color: #F1FFF9">Promeni sifru</a>
                </strong> </i></p>
              </div>

              <div *ngIf="error != ''">
                <p class="mb-0" style="color: #d70000">
                  poruka o validaciji (inicijalno skriveno)
                </p>
              </div>


              <div class="row justify-content-end">
                <button type="button" class="btn btn-green btn-block rounded-pill col-sm-3" (click)="updateMyprofile()">
                  Promeni
                </button>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
    <app-popup></app-popup>
  </div>

</section>
