<br>
<div class="container mt-3">
  <h1 class="fw-bold">{{ stock!.symbol }} <a class="bi bi-arrow-clockwise ms-2" id="refresh" data-cy="refresh" (click)="refresh()"></a></h1>
  <hr id="divider1">

  <div id="stockInfo" class="row row-cols-1 row-cols-md-2 p-3">
    <div class="col">
      <h2 id="price" [countUp]="stock!.price" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</h2>

      <p style="color: #00B127" *ngIf="stock!.priceChangeInPercentage >= 0; else redPercentage" [countUp]="stock!.priceChangeInPercentage" [options]="{ enableScrollSpy: true, decimalPlaces: 3, suffix: '%'}">0</p>
      <ng-template #redPercentage>
        <p style="color: #d70000" [countUp]="stock!.priceChangeInPercentage" [options]="{ enableScrollSpy: true, decimalPlaces: 3, suffix: '%'}">0</p>
      </ng-template>

      <p>Poslednje ažuriranje: <i>{{ stock!.lastRefresh | date: 'dd/MM/yy HH:mm' }}</i></p>
    </div>

    <div id="chart" class="col">
      <canvas id="stock-chart"></canvas>
      <ngx-loading [show]="loadingTS || loadingStock"></ngx-loading>
    </div>
  </div>

  <fieldset id="stockDetails" class="row row-cols-1 row-cols-md-2 mt-3 border rounded-5 p-3">
    <legend class="float-none w-auto px-2">Detalji</legend>
    <div class="col pe-md-4">

      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">CHANGE:</p>
        <p class="float-end my-1" style="color: #00B127" *ngIf="stock!.priceChange >= 0; else redPrice" [countUp]="stock!.priceChange" [options]="{ enableScrollSpy: true, decimalPlaces: 3, prefix: '$'}">0</p>
        <ng-template #redPrice>
          <p class="float-end my-1" style="color: #d70000" [countUp]="stock!.priceChange" [options]="{ enableScrollSpy: true, decimalPlaces: 3, prefix: '$'}">0</p>
        </ng-template>
      </div>

      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">OPEN:</p>
        <p class="float-end my-1" [countUp]="stock!.open" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</p>
      </div>

      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">CLOSE:</p>
        <p class="float-end my-1" [countUp]="stock!.close" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</p>
      </div>
    </div>

    <div class="col ps-md-4">
      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">LOW:</p>
        <p class="float-end my-1" [countUp]="stock!.low" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</p>
      </div>

      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">HIGH:</p>
        <p class="float-end my-1" [countUp]="stock!.high" [options]="{ enableScrollSpy: true, prefix: '$', decimalPlaces: 3}">0</p>
      </div>

      <div class="stockDetailDiv p-1">
        <p class="float-start my-1">VOLUME:</p>
        <p class="float-end my-1" [countUp]="stock!.volume" [options]="{ enableScrollSpy: true}">0</p>
      </div>
    </div>
  </fieldset>

  <div class="row d-flex justify-content-between buttons-div">
    <span class="col-md-4">
      <button type="button" class="btn btn-outline rounded-pill fw-bold fs-5"
                id="buy" data-cy="buy" (click)="buySell()">KUPI/PRODAJ</button>
      <button type="button" class="btn btn-outline-light btn-block rounded-pill fw-bold fs-5"
                id="seeOptions" data-cy="seeOptions" (click)="seeOptions()">VIDI OPCIJE</button>
    </span>

    <div class="col-md-3 d-flex justify-content-end">
      <button type="button" class="btn btn-green rounded-pill justify-content-end fs-5"
                id="close" data-cy="close" (click)="close()">Nazad</button>
    </div>
  </div>

  <app-popup></app-popup>
</div>
