.stocks-table-header{
  margin-top: 20px;
}

.table-d{
  color: white;
  font-weight: 600;
}

.color{
  color: var(--si-blue);
}

.input-field {
  width: 410px;
  border-radius: 10px;
}

.centralize-input {
  margin: auto;
  margin-bottom: 20px;
}

.rectangle{
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  border: 1px solid #00B127;
  border-radius: 60px;
}

.search-btn{
  width: 130px;
  margin-left: 420px;
}

.btn-position{
  margin-top: -53px;
}

table {
  table-layout: fixed ;
  width: 100% ;
}
th {
  text-align: left;
  width: 25% ;
}

:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background: var(--si-blue) !important;
  border: transparent;
  border-radius: 20px;
}

:host /deep/.ngx-pagination .current:hover {
  background: rgba(11, 148, 8, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}

:host /deep/.ngx-pagination a:hover{
  background: rgba(11, 148, 8, 0.75) !important;
  border-radius: 20px;
  border: transparent;
}
