<div class="container">

  <div class="row justify-content-center capital-table-row">
    <div style="overflow: auto" class="rectangle">
      <div class="row col-md-auto me-3 d-flex justify-content-between">
        <div class="col-md-auto align-items-center d-flex justify-content-center">
          <h2 class="row fw-bold">Tekući račun</h2>
        </div>
        <!--
        <div class="col-md-auto align-items-center d-flex justify-content-center">
          <button type="button" id="uplata" class="btn btn-outline rounded-pill" data-cy="uplata">Uplata/Isplata</button>
        </div>
        -->
      </div>
      <br>
      <div class="d-flex justify-content-around">
        <table class="table table-borderless table-d ">
          <thead>
          <tr class="trtable">
            <th>Valuta</th>
            <th>Stanje</th>
            <th>Dnevni limit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ bankAccount?.currencyCode }}</td>
            <td [countUp]="accountBalance" [options]="{ decimalPlaces: 3}">0</td>
            <td [countUp]="dailyLimit" [options]="{ decimalPlaces: 3}">0</td>
          </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>

  <div class="row justify-content-center capital-table-row">
    <div style="overflow: auto" class="rectangle">
      <div class="row col-md-auto me-3 d-flex justify-content-between">
        <div class="col-md-auto align-items-center d-flex justify-content-center">
          <h2 class="row fw-bold">Pregled kapitala</h2>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-around">
        <table class="table table-borderless table-d ">
          <thead>
          <tr class="trtable">
            <th>Tip kapitala</th>
            <th>Ukupno</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <tr *ngFor="let listing of listingSum">
            <td>{{ listing.listingType }}</td>
            <td>{{ listing.quantity }}</td>
            <td>
              <button type="button" class="btn btn-outline rounded-pill" (click)="openDetailsListings(listing.listingType)">Vidi detalje</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ngx-loading [show]="loadingListings || loadingChecking"></ngx-loading>
  <app-popup></app-popup>
  <app-listings-popup></app-listings-popup>

</div>

