<form>
  <div class="mb-3">
    <br>
    <input type="text"
           class="form-control input-field"
           data-cy="prodajnaValuta"
           id="prodajnaValuta"
           placeholder="Prodajna valuta">
  </div>

  <div class="mb-3">
    <input type="text"
           class="form-control input-field kupovna-input"
           data-cy="kupovnaValuta"
           id="kupovnaValuta"
           placeholder="Kupovna valuta">
  </div>

  <div class="btn-position">
    <button type="button"
            class="btn btn-green btn-block rounded-pill search-btn"
            data-cy="btnSearch"
            id="btnSearchByName">
      Pretraži</button>
  </div>
  <br>

</form>

<div class="row justify-content-center forex-table-header">
  <div style="overflow: auto" class="rectangle">
    <table class="table table-borderless table-d table-position"
           id="stocks-table">
      <thead>
      <tr class="color table-position" id="trTable">
        <th>Prodajna valuta</th>
        <th>Kupovna valuta</th>
        <th>Kurs</th>
        <th>Poslednje ažuriranje</th>
      </tr>
      </thead>
      <tbody>
    </table>
  </div>
</div>
